# $include /etc/inputrc
# set editing-mode vi
#
$if mode=vi
  set keymap vi-insert
  "jj": vi-movement-mode
  set keymap vi-command
  "diw": "bde"
  set keymap vi-command
  "diW": "BdE"
  set keymap vi-command
  "ciw": "bce"
  set keymap vi-command
  "ciW": "BcE"
$endif
